{% extends 'base.html' %}
{% block title %}
    books list
{% endblock %}

{% block main %}
    <h1>Product list page</h1>

    <div class="books">
        {% for book in books %}
            <div class="book-card">
                <h2>{{ Product.title }}</h2>
                <p>{{ Product.description }}</p>
                <p>{{ Product.created_time }}</p>
                <a href="{% url 'book_deatil' book.id %}"><button>detail</button></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}