body {
    background: #0f172a; /* dark fon */
    font-family: Arial, sans-serif;
    color: white;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.book-card {
    background: linear-gradient(135deg, #1e293b, #334155);
    padding: 20px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: 0.3s;
}

/* hover effekt 🔥 */
.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.book-card h2 {
    margin-bottom: 10px;
    color: #38bdf8; /* ko‘k rang */
}

.book-card p {
    color: #cbd5f5;
}